<div class="container-fluid">
  <div class="row">
    <div class="col-xs-6 card" style="width: 15rem;">
      <div class="card-body">
        <div class="card-title">Paid Holiday chart</div>
        <div class="card-text">1 day April</div>
      </div>
    </div>
    <div class="col-xs-6 card" style="width: 15rem;">
      <div class="card-body">
        <div class="card-title">Message for you</div>
        <div class="card-text">notification 1</div>
      </div>
    </div>

  </div>
  
  <div class="row">
    <div class="col-xs-6 card" style="width: 15rem;">
      <div class="card-body">
        <div class="card-title">Overtime result</div>
        <div class="card-text">4 hours in April</div>
      </div>
    </div>
    <div class="col-xs-6 card" style="width: 15rem;">
      <div class="card-body">
        <div class="card-title">Status</div>
        <div class="card-text">good</div>
      </div>
    </div>
  </div>
</div>

