<!-- Navigation -->
<nav class="navbar navbar-expand-sm navbar-light static-top" style="background-color: #59A5FE">
  <div class="container">
    <a class="navbar-brand" href="/"> Time Register</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Home
             <%= icon('fas', 'home') %>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to signup_path, class: "nav-link" do %>
            Sign up <%= icon('fas', 'user-plus') %>
          <% end %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in
            <%= icon('fas', 'sign-in-alt') %>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>